<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org">
<head>
	<th:block th:insert="fragments/page :: headblock"></th:block>
	<link rel="stylesheet" href="/css/question.css"></link>
	<link rel="stylesheet" href="/css/caption.css"></link>
</head>
<body>
<div th:replace="fragments/page :: header"></div>

<div class="questionnumber">
	<span class="label label-warning" th:text="'Answer '+${questionNo}"></span>
</div>

<div class="quizcaptions">
	<div class="courier">
		<pre id="question" class="marquee" th:text="${question}+' ::: '+${answer}"
		>Which king of England wore the biggest shoes?</pre>
	</div>
</div>

<div class="hidden">
	<th:block th:with="nextUrl='/answer?quizId='+${quizId}+'&roundId='+${roundId}+'&questionId='+${nextId}">
	<th:block th:with="roundUrl='/round?quizId='+${quizId}+'&roundId='+${roundId}">
	<th:block th:with="quizUrl='/quiz?quizId='+${quizId}">
	<a accesskey="N" th:href="${hasNext ? nextUrl : quizUrl}">next</a>
	<a accesskey="M" th:href="${roundUrl}">next</a>
	</th:block></th:block></th:block>
</div>

<div th:replace="fragments/page :: footer"></div>
</body>
</html>