<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
	<th:block th:insert="fragments/page :: headblock"></th:block>
	<link rel="stylesheet" th:href="'/css/'+${css}+'.css'"></link>
</head>
<body>
<div class="container">
<div th:replace="fragments/page :: header"></div>

<h1 class="text-center" th:text="${title}">Title</h1>

<div th:each="choice : ${menu?.choices}" class="choice-table"><div class="choice-display">
	<span class="selector label label-primary" th:text="${choice?.letter}"></span>
	<a class="caption" th:href="${choice?.destination}" th:accesskey="${choice?.letter}" th:text="${choice?.title}"></a>
</div></div>

</div>

<div th:replace="fragments/page :: footer"></div>
</body>
</html>