<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org">
<head>
	<th:block th:insert="fragments/page :: headblock"></th:block>
	<link rel="stylesheet" href="/css/printout.css"></link>
</head>
<body>
<div th:replace="fragments/page :: header"></div>
<div class="container">

<h1 class="text-center" th:text="${quiz.name}">Quiz Questions</h1>

<th:block th:each="round,rstats : ${quiz.rounds}">
	<hr/>
	<h3>[<th:block th:text="${letters.get(rstats.index)}"></th:block>] 
		<th:block th:text="${round.name}"></th:block></h3>
	<th:block th:each="question,stats : ${round.questions}">
		<br/>
		<p>Question (<th:block th:text="${stats.index}"></th:block>):  
			<strong><th:block th:text="${question.question}"></th:block></strong></p>
		<p>Answer: <th:block th:text="${question.answer}"></th:block></p>
	</th:block>
</th:block>

<hr/>
<h6 class="text-center">***</h6>

</div>
<div th:replace="fragments/page :: footer"></div>
</body>
</html>