<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org">
<head>
	<th:block th:insert="fragments/page :: headblock"></th:block>
	<link rel="stylesheet" href="/css/question.css"></link>
	<link rel="stylesheet" href="/css/caption.css"></link>
</head>
<body>
<div th:replace="fragments/page :: header"></div>

<div class="questionnumber" th:with="
	lblType=${showAnswer?'label-warning':'label-success'},
	labelText=${showAnswer?'Answer':'Question'}">
	<span th:class="'label '+${lblType}" th:text="${labelText}+' '+${questionNo+1}"></span>
</div>

<div class="quizcaptions">
	<div class="courier">
		<pre id="question" class="marquee" th:text="${question + (showAnswer ? ' ::: '+answer : '')}"
		>Which king of England wore the biggest shoes? ::: The one with the biggest feet.</pre>
	</div>
</div>

<div th:replace="fragments/page :: footer"></div>
</body>
</html>