<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<th:block th:fragment="headblock"><meta charset="UTF-8"></meta>
	<title>Quiz Captions</title>
	<link rel="stylesheet" href="/webjars/bootstrap/3.4.1/css/bootstrap.min.css"></link>
	<link rel="stylesheet" href="/webjars/bootstrap/3.4.1/css/bootstrap-theme.min.css"></link>
	<link rel="stylesheet" href="/css/universal.css"></link></th:block>
</head>
<body>

<div th:fragment="header">
<span></span>
</div>

<div th:fragment="footer">
<script src="/webjars/bootstrap/jquery/1.11.1/jquery.min.js"></script> 
<script src="/webjars/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</div>

</body>
</html>