<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.tymeleaf.org">
<head>
	<th:block th:insert="fragments/page :: headblock"></th:block>
	<link rel="stylesheet" href="/css/error.css"></link>
</head>
<body>
<div th:replace="fragments/page :: header"></div>
<div class="container">

<h1>Error</h1>

<div class="panel panel-danger">
	<div class="panel-heading">A problem has occurred</div>
	<div class="panel-body">
		<p>HTTP Status Code: <span th:text="${statusCode}"></span></p>
		<p>HTTP Status String: <span th:text="${status}"></span></p>
		<p>Java Exception Class: <span th:text="${exception}"></span></p>
		<p>Java Exception message: <span th:text="${message}"></span></p>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Error information meta-data properties</div>
	<div class="panel-body">
  		<ul><li th:each="name : ${attrNames}" th:text="${name}"></li></ul>
	</div>
</div>

<div th:each="pair : ${attrPairs}" class="panel panel-default">
	<div class="panel-heading" th:text="${pair.key}">Attribute Name</div>
	<div class="panel-body fw" th:text="${pair.value}"></div>
</div>


</div>
<div th:replace="fragments/page :: footer"></div>
</body>
</html>